#container{
	width: 1000px;
	height: 1000px;
	/*background-color: red;*/
	padding-top: 50px;
}

.hheading{
	width: 1000px;
	border: 1px solid black;
	border-collapse: collapse;
	/*padding: 0px;*/
	text-align: left;
}

th{
	padding: 5px;
	

}

#addusers{
	font-size: 20px;
}