<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='my_style_sheet.css') }}">
    </head>
    <body>
        <h1> Dojo Form </h1>
        <p> Ninja + Dojo = Ninojo (?) </p>
        
        <form action="" method="Post">
            First Name: <input type = 'text' name = "First Name">
            Last Name: <input type = 'text' name = "Last Name">
            Email: <input type = 'text' name = "Email">
            <input type="submit" value="Create User">
    </body>
</html>